<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django index</title>
</head>
<body>
    
    <h1>İndex Sayfam</h1>
    <a href="{% url "detay_sayfasi" %}">Detay Sayfasına Git</a>

    {% comment %} {{ aletler }} {% endcomment %}
<ul>
    {% for alet in aletler  %}
    <li>
        <a href="{% url "detay_sayfasi" %}">{{alet}}</a>
    </li>
    {% endfor %}
</ul>
</body>
</html>